<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmitCreate()">
  <h2 class="text-center">{{addMachineLocales.title}}</h2>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ubicacion" [formControl]="positionAddressInput" [(ngModel)]="positionAddress">
    <div class="alert alert-danger" *ngIf="positionAddressInput.hasError('required')" [hidden]="positionAddressInput.untouched">{{formLocales.error.required}}</div>
    <div class="alert alert-danger" *ngIf="positionAddressInput.hasError('incorrectPositionLength')" [hidden]="positionAddressInput.untouched">{{formLocales.error.incorrectPositionLength}}</div>
    <div class="alert alert-danger" *ngIf="positionAddressInput.hasError('incorrectPositionFormat')" [hidden]="positionAddressInput.untouched">{{formLocales.error.incorrectPositionFormat}}</div>
    <div class="alert alert-danger" *ngIf="positionAddressInput.hasError('incorrectDescriptionMinLength')" [hidden]="positionAddressInput.untouched">{{formLocales.error.incorrectDescriptionMinLength}}</div>
  </div>
  <div class="form-group">
    <select class="form-control" #select [formControl]="machineTypeInput" [(ngModel)]="machineType">
      <option *ngFor="let item of getAllMachineTypes();" [value]="item" selected="{{item == getAllMachineTypes()[0]}}">
        {{item}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" #select [formControl]="machineStateInput" [(ngModel)]="machineState">
      <option *ngFor="let item of getAllMachineStates();" [value]="item">
        {{item}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <autocomplete [elementsList]="autoCompleteList" (notify)='onNotify($event)'></autocomplete>
    <div class="alert alert-danger" *ngIf="technicianError" [hidden]="technicianErrorHidden">{{formLocales.error.technicianError}}</div>
  </div>

  <div class="form-group">
    <textarea type="text" placeholder="Descripción" rows="6" maxlength="300" class="form-control" id="comment" [formControl]="descriptionInput" [(ngModel)]="descriptionText"></textarea>
    <div class="alert alert-danger" *ngIf="descriptionInput.hasError('incorrectDescriptionLength')" [hidden]="descriptionInput.untouched">{{formLocales.error.incorrectDescriptionLength}}</div>
    <div class="alert alert-danger" *ngIf="descriptionInput.hasError('incorrectDescriptionFormat')" [hidden]="descriptionInput.untouched">{{formLocales.error.incorrectDescriptionFormat}}</div>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-block btn-lg btn-primary" value="Crear máquina" [disabled]="form.status !== 'VALID' || technicianError">
  </div>
</form>
