<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmitCreate()">
  <h2 class="text-center">{{initSessionMessage}}</h2>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ubicacion" [formControl]="positionAddressInput" [(ngModel)]="positionAddress">
    <div class="alert alert-danger" *ngIf="positionAddressInput.hasError('required')" [hidden]="positionAddressInput.untouched">{{positionAddressError}}</div>
  </div>
  <div class="form-group">
    <select class="form-control" #select [formControl]="machineTypeInput" [(ngModel)]="machineType">
      <option *ngFor="let item of getAllMachineTypes();" [value]="item" selected="{{item == getAllMachineTypes()[0]}}">
        {{item}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" #select [formControl]="machineStateInput" [(ngModel)]="machineState">
      <option *ngFor="let item of getAllMachineStates();" [value]="item">
        {{item}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <textarea placeholder="Descripción" class="form-control" rows="4" id="comment" [formControl]="descriptionInput" [(ngModel)]="description"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-block btn-lg btn-primary" value="Crear máquina" >
  </div>
</form>
