<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmitUpdate()">
  <h2 class="text-center">{{updateUserLocales.title}}</h2>
  <div class="form-group">
      <input type="email" class="form-control" [placeholder]="formLocales.placeholder.email" formControlName="email" [formControl]="emailInput" [(ngModel)]="email">
      <div class="alert alert-danger" *ngIf="emailInput.hasError('required')" [hidden]="emailInput.untouched">{{formLocales.error.required_email}}</div>
      <div class="alert alert-danger" *ngIf="emailInput.hasError('incorrectMailFormat')" [hidden]="emailInput.untouched">{{formLocales.error.format_email}}</div>
  </div>
  <div class="form-group">
      <input type="password" class="form-control" id="inputOldPassword" [placeholder]="formLocales.placeholder.password" formControlName="oldPassword" [formControl]="oldPasswordInput" [(ngModel)]="oldPassword">
      <div class="alert alert-danger" *ngIf="oldPasswordInput.hasError('required')" [hidden]="oldPasswordInput.untouched">{{formLocales.error.required_password}}</div>
      <div class="alert alert-danger" *ngIf="oldPasswordInput.hasError('incorrectPasswordFormat')" [hidden]="oldPasswordInput.untouched">{{formLocales.error.format_password}}</div>
  </div>
  <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" [placeholder]="formLocales.placeholder.new_password" formControlName="password" [formControl]="passwordInput" [(ngModel)]="password">
      <div class="alert alert-danger" *ngIf="passwordInput.hasError('required')" [hidden]="passwordInput.untouched">{{formLocales.error.new_password_required}}</div>
      <div class="alert alert-danger" *ngIf="passwordInput.hasError('incorrectPasswordFormat')" [hidden]="passwordInput.untouched">{{formLocales.error.format_password}}</div>
  </div>
  <div class="form-group">
      <input type="password" class="form-control" [placeholder]="formLocales.placeholder.confirm_password" formControlName="repeatPassword" [formControl]="repeatPasswordInput" [(ngModel)]="repeatPassword">
      <div class="alert alert-danger" *ngIf="form.getError('areEqual')" [hidden]="passwordInput.untouched">{{formLocales.error.equal_passwords}}</div>
  </div>
  <div class="form-group">
      <input type="submit" class="btn btn-block btn-lg btn-primary" [value]="updateUserLocales.submitButton" [disabled]="form.status !== 'VALID'">
  </div>
</form>
