.logo {
  padding: 1.5vh 1.5vw;
  max-height: 15vh;
  max-width: 25vh;
}

.register-button {
  margin-top: 3.5vh;
  margin-right: 3vw;
  padding: 1.5vh 2.8vw;
  font-size: 2.5vh;
}

.login-button {
  margin-top: 3.5vh;
  margin-right: 2vw;
  padding: 1.4vh 2.8vw;
  font-size: 2.5vh;
}

.logged-actions {
  margin-top: 3.5vh;
  font-size: 2.5vh;
  display: inline-block;
}

.button-group-actions{
  margin-right: 2vh;
}
