 <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmitLogin()">
    <h2 class="text-center">{{localesService.get_LoginPanelComponent_Locales().title}}</h2>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" class="form-control" [placeholder]="localesService.get_LoginPanelComponent_Locales().username_input_placeholder" [formControl]="userInput" [(ngModel)]="username">
        <div class="alert alert-danger" *ngIf="userInput.hasError('required')" [hidden]="userInput.untouched">{{localesService.get_LoginPanelComponent_Locales().required_user}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="password" class="form-control" id="inputPassword" [placeholder]="localesService.get_LoginPanelComponent_Locales().password" formControlName="password" [formControl]="passwordInput" [(ngModel)]="password">
      </div>
    </div>
    <div class="col-xs-12" *ngIf="loginError">
      <div class="alert alert-danger">{{localesService.get_LoginPanelComponent_Locales().login_error}}</div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="submit" class="btn btn-block btn-lg btn-primary" value="Enviar" [disabled]="form.status !== 'VALID'">
      </div>
    </div>
  </form>
  <div class="text-center">
    {{localesService.get_LoginPanelComponent_Locales().registerMessage}} <a [routerLink]="['/signup']">{{localesService.get_LoginPanelComponent_Locales().registerLink}}</a>
  </div>
