<div class="container">

  <form class="form-horizontal">
    <h2 class="text-center">Registrarse</h2>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" class="form-control" placeholder="Usuario">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="email" class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="password" class="form-control" placeholder="Confirmar Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="submit" class="btn btn-block btn-lg btn-primary" value="Enviar">
      </div>
    </div>
  </form>
  <div class="text-center">
    ¿Ya eres cliente? <a class="" href="#">Iniciar sessión</a>
  </div>
</div>
