 <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmitLogin()">
    <h2 class="text-center">{{loginPanelLocales.title}}</h2>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" class="form-control" [placeholder]="formLocales.placeholder.email" [formControl]="userInput" [(ngModel)]="email">
        <div class="alert alert-danger" *ngIf="userInput.hasError('required')" [hidden]="userInput.untouched">{{formLocales.error.required_email}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="password" class="form-control" id="inputPassword" [placeholder]="formLocales.placeholder.password" formControlName="password" [formControl]="passwordInput" [(ngModel)]="password">
        <div class="alert alert-danger" *ngIf="passwordInput.hasError('required')" [hidden]="passwordInput.untouched">{{formLocales.error.isRequired}}</div>
      </div>
    </div>
    <div class="col-xs-12" *ngIf="loginError">
      <div class="alert alert-danger">{{formLocales.error.login_error}}</div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <input type="submit" class="btn btn-block btn-lg btn-primary" value="Enviar" [disabled]="form.status !== 'VALID'">
      </div>
    </div>
  </form>
  <div class="text-center">
    {{loginPanelLocales.registerMessage}} <a [routerLink]="['/signup']">{{loginPanelLocales.registerLink}}</a>
  </div>
