<h1>{{listTechnicianLocales.title}}</h1>

<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-menubuilder">
      <div class="navbar-text" *ngIf="numSelections == 1">{{numSelections}}{{listTechnicianLocales.numSelections_1}}</div>
      <div class="navbar-text" *ngIf="numSelections != 1">{{numSelections}}{{listTechnicianLocales.numSelections_more_than_1}}</div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn" (click)="update()">{{listTechnicianLocales.modifyButton}}</a>
        </li>
        <li><a class="btn" (click)="delete()">{{listTechnicianLocales.deleteButton}}</a>
        </li>
        <li><a class="btn" (click)="add()">{{listTechnicianLocales.addButton}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>



<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
  <tr>
    <th style="min-width: 30px">

    </th>
    <th>
      ID
    </th>
    <th>
      {{listTechnicianLocales.state}}
    </th>
    <th>
      {{listTechnicianLocales.location}}
    </th>
    <th>
      {{localesService.get_ListMachineComponent_Locales().assigned_technician}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let technician of technicians; let i = index" [attr.data-index]="i">
    <td>
      <input id="{{technician.id}}" class="form-control checkbox" type="checkbox" value="{{selections[i]}}" (change)="selectRow(i)">
    </td>
    <td>
      {{technician.id}}
    </td>
    <td>
      pe
    </td>
    <td>
      pi
    </td>
    <td>
      to
    </td>
  </tr>
  </tbody>
</table>
