
<h1>{{listMachineLocales.title}}</h1>

<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-menubuilder">
      <div class="navbar-text" *ngIf="numSelections == 1">{{numSelections}}{{listMachineLocales.numSelections_1}}</div>
      <div class="navbar-text" *ngIf="numSelections != 1">{{numSelections}}{{listMachineLocales.numSelections_more_than_1}}</div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn" (click)="updateMachineListCounter()">{{listMachineLocales.modify}}</a>
        </li>
        <li><a class="btn" (click)="addIssue()">{{listMachineLocales.createIssue}}</a>
        </li>
        <li><a class="btn" (click)="deleteMachine()">{{listMachineLocales.delete_machine}}</a>
        </li>
        <li><a class="btn" (click)="addMachine()">{{listMachineLocales.add_machine}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>



<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
  <tr>
    <th style="min-width: 30px">

    </th>
    <th>
      ID
    </th>
    <th>
      {{listMachineLocales.state}}
    </th>
    <th>
      {{listMachineLocales.location}}
    </th>
    <th>
      {{localesService.get_ListMachineComponent_Locales().assigned_technician}}
    </th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let machine of machines; let i = index" [attr.data-index]="i" (click)="showMachineData(machine)">
        <td>
          <input id="{{machine.id}}" class="form-control checkbox" type="checkbox" value="{{selections[i]}}" (change)="selectMachine(i)">
        </td>
        <td>
          {{machine.id}}
        </td>
        <td>
          {{getMachineState(machine.machineState)}}
        </td>
        <td>
          {{machine.location.name}}
        </td>
        <td>
          {{machine.technician.name}}
        </td>
      </tr>
  </tbody>
</table>
