
<h1>{{localesService.get_ListMachineComponent_Locales().title}}</h1>

<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-menubuilder">
      <div class="navbar-text" *ngIf="numSelections == 1">{{numSelections}}{{localesService.get_ListMachineComponent_Locales().numSelections_1}}</div>
      <div class="navbar-text" *ngIf="numSelections != 1">{{numSelections}}{{localesService.get_ListMachineComponent_Locales().numSelections_more_than_1}}</div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn" (click)="update()">{{localesService.get_ListMachineComponent_Locales().modify}}</a>
        </li>
        <li><a class="btn" (click)="setTecnician()">{{localesService.get_ListMachineComponent_Locales().setTechnician}}</a>
        </li>
        <li><a class="btn" (click)="addIssue()">{{localesService.get_ListMachineComponent_Locales().createIssue}}</a>
        </li>
        <li><a class="btn" (click)="deleteMachine()">{{localesService.get_ListMachineComponent_Locales().delete_machine}}</a>
        </li>
        <li><a class="btn" (click)="addMachine()">{{localesService.get_ListMachineComponent_Locales().add_machine}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>



<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
  <tr>
    <th>

    </th>
    <th>
      ID
    </th>
    <th>
      {{localesService.get_ListMachineComponent_Locales().state}}
    </th>
    <th>
      {{localesService.get_ListMachineComponent_Locales().location}}
    </th>
    <th>
      {{localesService.get_ListMachineComponent_Locales().last_update}}
    </th>
    <th>
      {{localesService.get_ListMachineComponent_Locales().assigned_technician}}
    </th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let machine of machines; let i = index" [attr.data-index]="i">
        <td>
          <input id="{{machine.id}}" class="form-control" type="checkbox" value="{{selections[i]}}" (change)="selectMachine(i)">
        </td>
        <td>
          {{machine.id}}
        </td>
        <td>
          {{getMachineState(machine.machineState)}}
        </td>
        <td>
          {{machine.position.address}}
        </td>
        <td>
          {{machine.lastUpdate}}
        </td>
        <td>
          {{machine.technician.name}}
        </td>
      </tr>
  </tbody>
</table>
