<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmitUpdate()">
  <h2 class="text-center">Modificar perfil</h2>
  <div class="form-group">
      <input type="email" class="form-control" placeholder="Cambiar email" formControlName="email" [formControl]="emailInput" [(ngModel)]="email">
      <div class="alert alert-danger" *ngIf="emailInput.hasError('required')" [hidden]="emailInput.untouched">El formato del email no está admitido</div>
      <div class="alert alert-danger" *ngIf="emailInput.hasError('incorrectMailFormat')" [hidden]="emailInput.untouched">El formato del email no está admitido</div>
  </div>
  <div class="form-group">
      <input type="password" class="form-control" id="inputOldPassword" placeholder="Password" formControlName="oldPassword" [formControl]="oldPasswordInput" [(ngModel)]="oldPassword">
      <div class="alert alert-danger" *ngIf="oldPasswordInput.hasError('required')" [hidden]="oldPasswordInput.untouched">Es necesario introducir una contraseña</div>
      <div class="alert alert-danger" *ngIf="oldPasswordInput.hasError('incorrectPasswordFormat')" [hidden]="oldPasswordInput.untouched">La contraseña no es lo suficientemente segura</div>
  </div>
  <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="Nueva password" formControlName="password" [formControl]="passwordInput" [(ngModel)]="password">
      <div class="alert alert-danger" *ngIf="passwordInput.hasError('required')" [hidden]="passwordInput.untouched">Es necesario introducir una contraseña</div>
      <div class="alert alert-danger" *ngIf="passwordInput.hasError('incorrectPasswordFormat')" [hidden]="passwordInput.untouched">La contraseña no es lo suficientemente segura</div>
  </div>
  <div class="form-group">
      <input type="password" class="form-control" placeholder="Confirmar password" formControlName="repeatPassword" [formControl]="repeatPasswordInput" [(ngModel)]="repeatPassword">
      <div class="alert alert-danger" *ngIf="form.getError('areEqual')" [hidden]="passwordInput.untouched">La contraseña introducida es diferente</div>
  </div>
  <div class="form-group">
      <input type="submit" class="btn btn-block btn-lg btn-primary" value="Modificar" [disabled]="form.status !== 'VALID'">
  </div>
</form>
